/* 디자인은 심미적으로 자유롭게! */
* {
    box-sizing: border-box;
    margin: 0; padding: 0; line-height: 1.0;
    list-style: none; font-size: 1.0em;
}
body {
    background-image: url("../images/diet_bg.avif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
    height: 100vh;
}
main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    padding: 100px 0;
    background: #fff;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px 7px gray;
}
main h1 {
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
}
main h1+p {
    margin-bottom: 50px;
    text-align: center;
}
main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    list-style: none;
}
main ul li:last-child {
    padding-top: 0;
    display: flex;
    flex-direction: column;
}
main ul li:last-child span {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
main ul li:last-child input {
    width: 70%;
    height: 70px;
    border-radius: 10px;
}
main ul li span {
    display: block;
    text-align: right;
    width: calc(100% / 5);
    padding-right: 10px;
}
main ul li input {
    padding: 0 16px;
    width: calc(100% / 2);
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}
main ul+p {
    text-align: center;
}
main ul+p button {
    width: 50%;
    height: 50px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
}
main ul+p button:hover {
    background-color: #000;
    color: #fff;
}
@media screen and (max-width:600px) {
    main {
        width: 95%;
    }
}