/* 첫 화면 설계를 Desktop 큰 화면 기준으로 했기 때문에 max-width 부터 반응형 진행 */
/* 데스크탑 메뉴 숨기기 */
/* 모바일 메뉴(햄버거 스타일 보이기) */
@media screen and (max-width:1200px) {
    header > nav {display: none;}
    header .lnb .m_nav {display: block;}
}
@media screen and (max-width:1000px) {
    main .advantage {
        flex-direction: column;
    }
    main .advantage .contents {width: 100%;}
}